<div class="chat-head">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-main">
  <div class="message-contents">
    <div class="message-content">
      <div class="message-top">
        <div class="message-name">
          Tom
        </div>
        <div class="message-time">
          2020/3/31(Wed) 12:43:30
        </div>
      </div>
      <div class="message-title">
      おはよう
      </div>
    </div>
        <div class="message-content">
      <div class="message-top">
        <div class="message-name">
          Sim
        </div>
        <div class="message-time">
          2021/4/10(Sat) 09:14:27
        </div>
      </div>
      <div class="message-title">
      こんにちは
      </div>
    </div>
  </div>
</div>

<div class="chat-hoot">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>